APP_ENV=development

# DB
DB_NAME=game
DB_USER=game
DB_PASS=123
# CONTAINER
UID=1000
GID=1000
PORT=4000
CONT_PREFIX=dev
APP_VERSION=dev

# SYSTEM
DEBUG=true
DATABASE_URL=mysql+aiomysql://game:123@db/game
REDIS_URL=redis://redis:6379/0

# GAME
DT_MULTIPLIER=4